*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{		
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
	background-color: #07070A;
	/*-webkit-user-select: none;*/
	/*background-image: url(../imgs/fondo-portada.jpg);
	background-size: cover;	
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	*/
	color: white;
}
main{	
	overflow: hidden;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}


/*container-form-settings*/
.container-form-settings{

}
.cont-table-products{
    overflow-x: scroll;
    height: fit-content;
}
.row{
    width: 100%;
}
.container{    
    width: 100%;
    min-width: 1000px;
}   
.nav-bar{
width: 100%;
}
.card{
    width: max-content;
}
.card-body{
 
}
/* variantes-disponibles*/
.div-add-variantes, .div-adiciones , .div-topings{
    flex-direction: row;
    display: flex;
}
.btn-add-variantes, .btn-add-adiciones, .btn-del-variantes, .btn-del-adiciones{
    max-width: 50px;
    max-height: 50px;    
    font-size:0.8em;
    border-radius: 10%;      
    background-color: rgb(199, 199, 199);
}