
.cont-detalles-producto{  
  width: 100%;
  position: relative;
}


.div-detalles-carrito{   
  transition: all 500ms;
  width: 100%;
  height: max-content;
  max-height: 55%;
  /* background-color: #0e0e0e; */
  background-color: rgb(0 0 0 / 71%);
  position: fixed;
  border-radius: 5px;
  margin-top: -110%;
  backdrop-filter: blur(2px);
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 3px 0px #fbfbfa, 0px 0px 0px 0px rgb(245 246 245);
  display: block;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 0px;
  z-index: 101;
  overflow: hidden;
}

.cont-flecha-abajo-total-carrito{
      /* line-height: inherit; */
    /* text-align: center; */
   height: fit-content;
    padding: 0px 4px 0px 4px;
    margin-right: 10px;
    background: none;
    /*border: 1px solid white;*/
    color: rgb(236 223 223);
    /* height: fit-content; */
    border-radius: 5%;
    font-size: 1em;
}
.icono-cont-flecha-abajo-total-carrito {
  font-size: 0.8em;
}
.cantidad-productos-carrito{
  position: absolute;
  left: 30%;
  top: -12px;
  width: fit-content;
  font-size: 0.6em;
  height: fit-content;
  padding: 1px 5px 1px 5px;
  border-radius: 100%;
  color: black;
  font-weight: 900;
  background: #fffcfc;
  color: white;
  border: 1px solid white;
  background: #000000;
  font-weight: 500; 
}

.mostrar-detalles-carrito{             
  margin-top: 0px;    
}

.div-detalles-carrito ul{
  color: white;
}   

.contenedor-tabla-factura{  
  width: 100%;
  top: 0;
  z-index: 1;
  position: relative;
  overflow: hidden;
  max-height: 40vh;
  overflow: auto;

}
.contenedor-tabla-factura h1{   
  margin-top: 0px;
  text-align: center;
  color: white;
  font-size: 1.2em;
}
.contenedor-indicaciones-factura{
  display: none;  
}
.lista-indicaciones li{
  color: white;   
    margin-left: 14px;
    font-size: 0.9em;
}
.panel{
  position: relative;  
}
.panel-body{
  padding-top:5px ; 
}
.table{  
  table-layout: fixed;
  width: 100%;    
  border-collapse:collapse;         
}
.table td, th{
  padding: 8px;  
}
.table td{  
  border-bottom: 0.5px solid rgb(66, 66, 66); 
}
.tr-carrito-total td{
  border-bottom: none; 
}
thead{
  color: white;
}
tr{
  color: white;  
}
.tr-tabla-carrito{
  background-color: rgb(31, 30, 30);
}
.th-numero{    
  table-layout: fixed;
  width: 8%;        
}
.th-producto{    
  table-layout: fixed;  
  width: 20%;        
}
.th-acction{
  table-layout: fixed;
  width: 1%;        
}
.th-cantidad{

}
/*#*/
.cut-off th:nth-child(1) {
  width: 6%;
  text-align: left;
}
/*nombre producto de la tabla*/
.cut-off th:nth-child(2) {
  text-align: left;
  width: 30%;
}
.cut-off td:nth-child(2) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cut-off th:nth-child(3) {
  width: 15%;  
  font-size: 1em;
  text-align: center;
}
.cut-off td:nth-child(3) {
  overflow: hidden;
  text-align: center;  
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*Precio*/
.cut-off th:nth-child(4) {
  text-align: left;
  width: 20%;
}
.cut-off td:nth-child(4) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cut-off th:nth-child(5) {
  width: 8%;
}
.cut-off td:nth-child(5) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tbody-total{
  background-color: #363636;  
}

.table > tbody > tr > td:hover {
  background-color: #000000;
  cursor: pointer;
}
.panel-body{
  position: relative;
}
.cont-botones-factura-absolute{  
  width: 100%;
  bottom: 0;
}
.botones-factura{    
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px 10px 0px 10px;
  align-items: center;
  animation: fadein 2s;
  background: linear-gradient(to top, #000000, transparent);
  /* backdrop-filter: grayscale(1); */
  padding-bottom: 20px;
}
/*icono-animation-burguer*/
.icono-animation-burguer{    
  z-index: 2;
  width: 40px;
  background: white;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  animation: fadein 0.5s;   
}
@keyframes fadein {
  0% {
  opacity:0;
  }
  50%{
  opacity:0.5;
  }
  100% {
  opacity:1;
  }
 }
 .fadeout{
  animation: fadeout 1s;   
 }
 @keyframes fadeout {
  0% {
  opacity:1;
  }
  50%{
  opacity:0.5;
  }
  100% {
  opacity:0;
  }
 }
 
.cont-iconoBurguer-confirmarOrden{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-basura{
  font-size: 1.5em;
}
.btn-confirmar-orden{
     /* position: absolute; */
    /* right: 10px; */
    border: dashed 2px;
    border: dotted 4px #000000;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.2em;
    height: fit-content;
    border-radius: 3%;
}
.btn-confirmar-orden:hover{
  text-decoration: none;
  outline: none;
}
/*
.btn-concretar-orden{    
  position: absolute;
  left: 5px;
  border: none;    
  color: rgb(255, 255, 255);
  background-color : transparent;  
}
*/
/*Contenedor INDICACIONES FACTURA*/
.contenedor-indicaciones-factura{
  position: absolute;
  bottom: 0;  
  padding-bottom: 5px;
}
/*notificacionesjgrowl*/
div.jGrowl {
  font-size:1.1em;
  left: 0;
  top: 0;
  width: 50%;

}
.jGrowl-notification {
  background-color: #ffbf00 !important;
  opacity: .9;
  -ms-filter: alpha(90);
  filter: alpha(90);
  zoom: 1;
  width: 200px !important;
  padding: 10px;
  margin: 10px;
  text-align: left;
  border: 1px solid white;
  display: none;
  border-radius: 5px;
  min-height: 40px;
}
.jGrowl-closer{
  background-color: #ffbf00 !important;
  width: 200px !important;
  content:'Close all' !important;
}

.flecha-atras-carrito{
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.212);
  color: rgb(255, 255, 255);
  border-radius: 100%;
  height: fit-content;
  width: fit-content;
  border: solid 1px rgb(237 237 237 / 67%);
  margin-bottom: -20px;
}
