header{
    position: fixed;
    z-index: 100;   
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    /*backdrop-filter: blur(2px);*/
  
}
/*logo animates*/
#id-cont-imagen-logo:active{
	animation: step-start;
    animation-duration: 2;
}
.cont-iconoCarrito-cantidadProductos:active{
    animation: step-start;
    animation-duration: 2;
}

.animacion-corre-carrito{
    animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.6s; /* don't forget to set a duration! */    
}
.animacion-agregar-carrito{        
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    /*animation-delay: .8s;*/
    animation-duration: 1.6s; /* don't forget to set a duration! */    
}
.jGrowl-notification {  
    margin-top: 50px !important;
}
.cont-iconoCarrito-cantidadProductos{
    position: relative;
}


.cont-header{           
    display: flex;
    max-height: fit-content;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;
}
.container-logo-title{
    display: flex;
    max-height: 50px;
    align-items: center;
}

.container-logo-title span{
    font-size: 16px;    
    min-width: initial;
}
.contenedor-imagen-logo{
    max-width:40px;
    min-width:40px;
}
.contenedor-imagen-logo img{
    display: block;
    width: 100%;    
	cursor: pointer;
}
.container-logo-title h1{
    font-weight: 300;
    margin: 0;
    font-size: 1.5em;
}
.title-quick{
    font-weight: 500 !important;
}
.cont-mesadomicilio-carrito{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.cont-mesadomicilio-carrito h1{
    font-size: 1em;
    margin: 0;
    font-weight: 300;
    padding-right: 5px;
}
.icono-carrito-compras{
    font-size: 1.5em;
    color: #e5bd5d;    
	cursor: pointer;
    font-style: italic;
}

